.section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.icon-wrapper {
  background-color: #ececec4d;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-icon {
  width: 18px;
  height: 20px;
}

.section-title {
  color: var(--text-primary);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 40px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group.full {
  grid-column: span 2;
}

label {
  color: var(--text-primary);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

input,
select,
textarea {
  color: var(--text-primary);
  width: 100%;
  height: 48px;
  background: transparent;
  padding: 12px;
  border: 1px solid #ececec;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

input::placeholder,
select:invalid,
textarea::placeholder {
  color: #2a2a4899;
  font-family: var(--font-primary);
}

select:disabled {
  background-color: #ececec4d;
  color: #2a2a4899;
}

textarea {
  height: auto;
  column-span: 2;
}

@media screen and (max-width: 560px) {
  .form-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .form-group.full {
    grid-column: span 1;
  }
}
