:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Rubik", sans-serif;

  --color-primary: #0099a8;
  --color-primary-dark: #138a96;
  --color-secondary: #ff27ad;
  --color-secondary-dark: #f1129c;
  --color-promo: #00106b;
  --bg-light: #ececec29;

  --text-primary: #2a2a48;
  --text-secondary: #485363;
  --text-light: #8493a8;

  --border-color: #ececec80;

  --container-width: 1200px;
  --bg-body: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background-color: var(--bg-body);
  color: var(--text-primary);
  line-height: 1.5;
}

.font-secondary {
  font-family: var(--font-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1rem;
}
